# 변수

값을 저장하는 메모리 공간.
- 변수 이름과 값을 할당하여 생성한다. ex) a = 10
- 변수 이름은 식별자로 불리며, 식별자를 통해 변수를 사용할 수 있다.
- 프로그램 실행동안, 몇번이고

In [ ]:
# 1. 변수 a에 10저장
a = 10
# 2. 변수 a 출력
print(a)

# 3. 변수 a에 20저장
a = 20
# 4. 변수 a 출력
print(a)

10
20

# 숫자형 자료형
변수에 저장되는 데이터 형식


---

정수형(int)
- 정수형은 음의 정수, 0, 자연수 등 정수 값을 나타내는 자료형.
- ex) -5, -153, 0, 3, 1456

---

실수형(float)
- 정수와 소수접으로 표현되는 모든 값을 나타내는 자료형.
- ex) -5.0, -123.4, 0.0, 3.12, 532.14

---

8진수(0o)
- 8진수 표현법.
- '0o숫자'의 형식으로 표현.

---

16진수(0x)
- 16진수 표현법
- '0x숫자'의 형식으로 표현
- 0~9, 10:A, 11:B, 12:C, 13:D, 14:E, 15:F
- ex) oxF -> 정수로 15의 값을 가지게 됨.

In [ ]:
# 변수 선언 : 변수이름 = 값
# 변수가 자료형을 스스로 판단하여 지정해준다.
# type() 함수를 사용하여 변수의 자료형을 확인할 수 있다.

a = 10
b = 10.123
c = 0o111
d = 0x88f

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

10
10.123
73
2191
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

# 연산자
숫자형 자료형을 가공하기 위한 연산자
- 덧셈 : +
- 뺄셈 : -
- 곱셈 : *
- 나눗셈 : /
- 나머지 : %
- 제곱 : **
- 몫 : //

In [ ]:
a = 10
b = 5

result = a + b
print(result)

result = a - b
print(result)

result = a * b
print(result)

result = a / b
print(result)

result = a % b
print(result)

result = a ** b
print(result)

result = a // b
print(result)

result = 2 + 3 * 4
print(result)

result = (2 + 3) * 4
print(result)

15
5
50
2.0
0
100000
2
14
20

# 문자열 만들기

1. 큰따옴표로 양쪽 둘러싸기
2. 작은따옴표로 양쪽 둘러싸기
3. 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기
4. 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기

In [ ]:
"큰따옴표"

'작은 따옴표'

a = """
큰 따옴표
"""

print(a)

b = '''
작은 따옴표
'''
print(b)

큰 따옴표


작은 따옴표

# 이스케이프 문자
특수한 문자를 표현하기 위해 사용되는 문자.
백슬래쉬(\)로 시작하는 문자열
- \n, 줄 바꿈 문자
- \t, 탭 문자
- \\, 백슬래쉬 문자
- \', 작은따옴표 문자
- \", 큰따옴표 문자

In [ ]:
a = '누구는 말했다. \n\'최선을 다하라\''
print(a)

b = "115\t23\t4516"
c = "1\t31255\t456"

print(b)
print(c)

누구는 말했다.
'최선을 다하라'
115	23	4516
1	31255	456

# 문자열 연산
문자열은 덧셈 연산과 곱셈 연산 사용이 가능하다.
- 덧셈 : 문자열 + 문자열 -> 문자열이 하나로 합쳐진다.
- 곱셈 : 문자열 * 숫자 -> 문자열이 숫자만큼 반복된다.

In [ ]:
a1 = 'python '
a2 = 'is good'

text = a1 + a2
print(text)

text1 = a1 * 5
print(text1)

print('='*50)

python is good
python python python python python
==================================================

# 문자열 인덱싱
문자열을 문자 하나하나 나누어, 개별적으로 접근하는 것

# 문자열 슬라이싱
문자열을 원하는 지점부터 원하는 크기만큼 분해하는 것.

- 변수명[첫번째항목:마지막항목+1]
- 마지막 항목은 포함되지 않아, 추출하고 싶은 마지막 항목+1의 값을 지정해주어야함
- 첫번째 항목을 공백으로 놓으면, 0번 인덱스부터 추출.
- 마지막 항목을 공백으로 놓으면, 문자열 끝까지 추출

In [ ]:
text = "python is good"

#good 문자 가져오기
print(text[10]+ text[11]+text[12]+text[13])
print(text[10:14])
print(text[10:])

# pyton 문자 가져오기
print(text[:6])

good
good
good
python

#문자열 관련 함수
- len
- count
- upper
- lower
- strip
- lstrip
- rstrip
- split
- replace
- join

# len()
공백, 이스케이프 문자를 포함한 문자열의 길이를 구하는 함수

In [ ]:
text = 'i love\tpython.'
print(text)
print(len(text))

i love	python.
14

# count()
문자열에 속한 특정 문자의 개수를 세는 함수

In [ ]:
text = 'python is good'
print(text.count('o'))
print(text.count('a'))

3
0

# join
문자열 사이사이에 특정 문자를 삽입하는 함수

In [ ]:
text = 'python is good'
print('.'.join(text))

p.y.t.h.o.n. .i.s. .g.o.o.d

# upper()
문자열을 모두 대문자로 변경하는 함수

In [ ]:
text1 = 'python is good'
text2 = 'Python is good'

print(text1.upper())
print(text2.upper())

PYTHON IS GOOD
PYTHON IS GOOD

# lower()
문자열을 모두 소문자로 변경하는 함수

In [ ]:
text1 = 'python is good'
text2 = 'Python is good'

print(text1.lower())
print(text2.lower())

python is good
python is good

# strip()
양쪽 공백을 지우는 함수

lstrip()
왼쪽 공백을 지우는 함수

rstrip()
오른쪽 공백을 지우는 함수

In [ ]:
text = "     hi     "

print(text.strip())
print(text.lstrip())
print(text.rstrip())

hi
hi
     hi

# split()
문자열을 특정 기준에 따라 분리하는 함수
- 형식을 지정하지 않으면 공백, TAB, 엔터로 분리가 됨.
- 형식을 지정하면, 형식에 맞추어 분리됨.
- 분리된 결과는 리스트의 형식으로 저장됨

In [ ]:
text = 'python is good'
print(text.split())

text = 'python,is,good    a'
print(text.split(','))

['python', 'is', 'good']
['python', 'is', 'good    a']

# replace()
문자열을 원하는 문자열로 바꾸는 함수

In [ ]:
text = 'python is good'
print('원래 단어 : ' + text + '\n바뀐단어: ' + text.replace('good', 'bad'))

원래 단어 : python is good
바뀐단어: python is bad

# 문자열 포맷팅
문자열에서 변수나 값을 원하는 형식으로 출력하는 방법.
1. 숫자를 바로 대입하는 방법
2. 문자열을 바로 대입하는 방법
3. 변수를 통해 값을 대입하는 방법

---

# 문자열 포맷 코드
문자열 포맷 코드 헷갈리면 무조건 %s 사용!!
- %s : 문자열
- %c : 문자 1개
- $d : 정수
- %f : 실수
- %o : 8진수
- %x : 16진수

In [ ]:
print("사과 10개가 있습니다.")

print("사과 %d개가 있습니다." %3)

print("제 이름은 %s입니다" %'유연휘')

n = 20
print("사과 %d개가 있습니다." %n)

print("사과 %f개가 있습니다." %n)

print("사과 %o개가 있습니다." %n)

print("사과 %x개가 있습니다." %n)

사과 10개가 있습니다.
사과 3개가 있습니다.
제 이름은 유연휘입니다
사과 20개가 있습니다.
사과 20.000000개가 있습니다.
사과 24개가 있습니다.
사과 14개가 있습니다.

# 정렬

"{0:>10}".format('hi')

# 소수점 표현
"{0:0.자리수f}".format(숫자)

"0.자리수f"%숫자

In [ ]:
print("{0:!<20}".format("안녕"))

print("{0:=^20}".format("안녕"))

print("{0:>20}".format("안녕"))


pi = 3.141592
print("{0:0.4f}".format(pi))

안녕!!!!!!!!!!!!!!!!!!
=========안녕=========
                  안녕
3.1416

# f문자열 포매팅
문자열 앞에 f 접두사를 붙여 간편하게 포매팅 가능

In [ ]:
name = '홍길동'
age = 30
print(f'나의 이름은 {name}입니다.')

나의 이름은 홍길동입니다.

#사용자 입력 : input()
사용자에게 문자열을 입력받아 변수에 저장하는 함수
- 변수 = input("문자열을 입력하세요 : ")
- 문자열 외의 다른 자료형을 사용하기 위해 자료형 반환을 사용해야 한다.

In [ ]:
a = input('문자열을 입력해주세요 : ')
b = int(input('정수를 입력해주세요 : '))
c = float(input('실수를 입력해주세요 : '))

print(b+c)

문자열을 입력해주세요 : asf
정수를 입력해주세요 : 1
실수를 입력해주세요 : 2
3.0

# 문자열 위치 관련 함수
- find - 위치 알려주기
- index - 위치 알려주기

In [ ]:
d = "Python is best choice"
print(d.find('b'))
print(d.find('k')) #없는 경우

print(d.index('b'))
#print(d.index('k')) #없는 경우

10
-1
10

# 리스트
리스트명 = [요소1, 요소2, ...]

In [ ]:
a = [1,2,3]
print(a)

[1, 2, 3]

# 리스트 인덱싱
문자열처럼 인덱싱 가능

In [ ]:
a = [1,2,3]
print(a[0])
print(a[-1])
print(a[0] + a[2])

b = [1,2,3,[1,2,3]]
print(b)
print(b[-1][0])

1
3
4
[1, 2, 3, [1, 2, 3]]
1

# 리스트 슬라이싱
문자열처럼 슬라이싱 가능

In [ ]:
 a = [1,2,3,4,5]
 print(a[0:3])

[1, 2, 3]

# 리스트 연산
문자열처럼 +와 *연산 가능

In [ ]:
a = [1,2,3]
b = [4,5,6]
print(a + b)

print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

# 리스트 길이
len(리스트) - 요소의 개수가 나옴

In [ ]:
a = [1,2,345]
len(a)

3

#리스트의 수정과 삭제
리스트는 값을 수정하거나 삭제할 수 있다.

In [ ]:
a = [1,2,3,4]
a[2] = 4
print(a)

[1, 2, 4, 4]

#del 함수를 사용해 리스트 요소 삭제
del a[x]는 x번째 요솟값을 삭제

del 객체

In [ ]:
a = [1,2,3,4,5]
del a[2]
print(a)

[1, 2, 4, 5]

# 리스트 함수
- append : 요소추가
- sort : 정렬
- reverse : 리스트 뒤집기
- index : 인덱스 반환
- insert : 요소 삽입
- remove : 요소 제거
- pop : 마지막 요소 빼기
- count : 요소 개수 세기
- extend : 리스트 확장

In [ ]:
#append
a = [1,2,3,4,5]
print('이전 :' ,a)
a.append(6)
print('이후 :',a)

이전 : [1, 2, 3, 4, 5, 6, 6, 6, 6]
이후 : [1, 2, 3, 4, 5, 6, 6, 6, 6, 6]

In [ ]:
#sort
a = [1,2,3,4,5]
print('이전 :' ,a)
a.sort(reverse=True)
print('이후 :',a)

이전 : [1, 2, 3, 4, 5]
이후 : [5, 4, 3, 2, 1]

In [ ]:
#reverse
a = [1,2,3,4,5]
print('이전 :' ,a)
a.reverse()
print('이후 :',a)

이전 : [1, 2, 3, 4, 5]
이후 : [5, 4, 3, 2, 1]

In [ ]:
#index
a = [1,2,3,4,5]
print(a.index(3))

2

In [ ]:
#insert
a = [1,2,3,4,5]
print('이전 :' ,a)
a.insert(0,0)
print('이후 :',a)

이전 : [1, 2, 3, 4, 5]
이후 : [0, 1, 2, 3, 4, 5]

In [ ]:
#remove
a = [1,2,3,4,5]
print('이전 :' ,a)
a.remove(3)
print('이후 :',a)

이전 : [1, 2, 3, 4, 5]
이후 : [1, 2, 4, 5]

In [ ]:
#pop
a = [1,2,3,4,5]
print('이전 :' ,a)
b = a.pop()
print('이후 :',a)
print("뺀 값 :",b)

이전 : [1, 2, 3, 4, 5]
이후 : [1, 2, 3, 4]
뺀 값 : 5

In [ ]:
#count
a = [1,1,1,2,2,3]
print(a.count(1))

3

In [ ]:
#extend
a = [1,2,3,4,5]
b = [1,2,3,4]
print('이전 :' ,a)
a.extend(b)
print('이후 :',a)

이전 : [1, 2, 3, 4, 5]
이후 : [1, 2, 3, 4, 5, 1, 2, 3, 4]

# 튜플 자료형
t1 = ()

t2 = (1,)

t3 = (1, 2, 3)

t4 = 1, 2, 3

t5 = ('a', 'b', ('ab', 'cd'))

리스트와 비슷하지만 요소 1개를 가질때 ,를 붙이는 것 소괄호를 생략해도 된다는 점

가장 큰 차이는 요솟값을 변화시킬 수 있는지의 여부

In [ ]:
t1 = 1,2,3,4
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
t1 = 1,2,3,4
t1[0] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1 = 1,2,3,4
print(t1[0])
print(t1[2])

1
3

# 튜플 슬라이싱

리스트와 동일

In [ ]:
t1 = [1,2,3,4]
print(t1[0:2])

[1, 2]

#튜플 더하기
리스트와 동일