#조건문 문제

##1번 문제
점수를 입력받고 90점이상이면 A
80점 이상이면 B
70점 이상이면 C
70점 미만이면 F를 출력하세요

In [15]:
score = int(input("점수를 입력하세요 : "))

if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
else:
  print('F')

점수를 입력하세요 : 80
B

##2번 문제
사용자에게 정수 값을 2개 입력받아, 더 큰 숫자를 출력하고, 만약 같은 숫자라면 같습니다.라는 문장을 출력하시오.

In [11]:
n1, n2 = map(int,input().split())

if n1 > n2:
  print(n1)
elif n1 < n2:
  print(n2)
else:
  print("같습니다")

10 20
20

##3번문제
숫자가 1000 이상이면, 백단위를 생략하고 k를 붙이고
숫자가 1000000 이상이면, 십만 단위를 생략하고 M을 붙이고
숫자가 1000000000 이상이면 , G를 붙이고 출력하는 코드를 작성하시오. (큰단위 아래숫자 생략)

In [48]:
n = int(input())

if n >= 1000000000:
  print(n // 1000000000,'G')
elif n >= 1000000:
  print(n // 1000000,'M')
elif n >= 1000:
  print(n // 1000,'K')
else:
  print(n)

10
10

#2장 연습문제

In [49]:
#2장 연습문제 1
국어 = 80
영어 = 75
수학 = 55

print((국어+영어+수학)/3)

70.0

In [20]:
#2장 연습문제 2
n = 13

if n % 2 == 1:
  print('홀수')
else:
  print("짝수")

홀수

In [27]:
#2장 연습문제 3
pin = "881120-1068234"
yyyymmdd = "19" + pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234

In [28]:
#4
pin = "881120-1068234"
print(pin[7])

1

In [29]:
#5
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [30]:
#6
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [33]:
#7
a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

In [41]:
#8
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [38]:
#9
a = dict()
a['name'] = 'python'
a[('a,')] = 'python'
#a[[1]] = 'python'      튜플 형식은 가능하지만 리스트 형식은 키로 사용할수 없다
a[250] = 'python'
print(a)

{'name': 'python', 'a,': 'python', 250: 'python'}

In [42]:
#10
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [43]:
#11
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [45]:
#12
a = b = [1,2,3]
a[1] = 4
print(b)

#a와 b가 같은 주소를 쓰고 있어서 a를 변경하면 b의 값도 바뀌게 된다
#복사를 해도 다르게 사용하고 싶다면 아래의 방식으로 복사하거나 copy를 사용하면 된다.
a = [1,2,3]
b = a[:]
a[1] = 4
print(b)

[1, 4, 3]
[1, 2, 3]