#튜플 자료형

##튜플 더하기

In [ ]:
t1 = (1,2,'a','b')
t2 = (3,4)
t3 = t1 + t2
print(t3)

(1, 2, 'a', 'b', 3, 4)

## 튜플 곱하기

In [ ]:
t2 = (3,4)
t3 = t2 * 3
print(t3)

(3, 4, 3, 4, 3, 4)

## 튜플 길이 구하기

In [ ]:
t1 = (1,2,'a','b')
print(len(t1))

4

#논리 연산자

- and : 모두가 참인경우에만 참
- or : 참이 하나라도 있는경우 참

In [ ]:
#and
print("True and True :",True and True)
print("True and False :",True and False)
print("False and True :",False and True)
print("False and False :",False and False)

print('---------------------------------------------')
#or
print("True or True :",True or True)
print("True or False :",True or False)
print("False or True :",False or True)
print("False or False :",False or False)

True and True : True
True and False : False
False and True : False
False and False : False
---------------------------------------------
True or True : True
True or False : True
False or True : True
False or False : False

#딕셔너리 자료형

키와 값 한쌍으로 데이터를 저장하는 구조

- 순서가 없음
- 키는 유일해야 하며, 값은 중복될 수 있음

## 딕셔너리 구조

{Key1: Value1, Key2: Value2, Key3: Value3, ...}

In [ ]:
dic = {'name':'pey', 'phone':'010-1234-1234','birth':'1101'}
print(dic)

{'name': 'pey', 'phone': '010-1234-1234', 'birth': '1101'}

## 딕셔너리 쌍 추가, 삭제

In [ ]:
#추가
a = {1:'a'}
a[2] = 'b'
print(a)

#삭제
del a[1]
print(a)

{1: 'a', 2: 'b'}
{2: 'b'}

## 딕셔너리 함수

- keys() : 모든키를 반환
- values() : 모든 값을 반환
- items() 모든 키-값 쌍을 반환
- clear() 모든 요소제거

In [ ]:
dict = {'name':'pey', 'phone':'010-1234-1234','birth':'1101'}

print(dict)
print(dict.keys())
print(dict.values())
print(dict.items()) # 출력만 사용하는 경우 print(dict)를 사용하면 되지만 반복문을 사용할때 모든 키값을 가져오기 위해서 사용

dict.clear()
print(dict)

{'name': 'pey', 'phone': '010-1234-1234', 'birth': '1101'}
('name', 'pey')
('phone', '010-1234-1234')
('birth', '1101')
dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '010-1234-1234', '1101'])
dict_items([('name', 'pey'), ('phone', '010-1234-1234'), ('birth', '1101')])
{}

#집합 자료형
집합과 관련된 것을 처리하기 위해 만든 자료형
- 변수명 = set()
- 변수명 = set([1,2,3])
- 변수명 = set("python")

In [ ]:
s1 = set([1,2,3,3,3,2])
s2 = set("python")

print(s1)
print(s2)

{1, 2, 3}
{'h', 'o', 'n', 'y', 't', 'p'}

## 집합 자료형의 특징
- 중복을 허용하지 않는다.
- 순서가 없다.

In [ ]:
s1 = set([1,2,3])
l1 = list(s1)
print(l1)
print(l1[0])
t1 = tuple(s1)
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

##교집합, 합집합, 차집합 구하기
- 교집합 &
- 합집합 ||
- 차집합 -

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print("교집합 :",s1 & s2)
print("합집합 :",s1 | s2)
print("차집합 :",s1 - s2)

교집합 : {4, 5, 6}
합집합 : {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 : {1, 2, 3}