#챕터3

In [ ]:
#1
a = "Life is too short, you need python"

if 'wife' in a:
    print('wife')
elif "python" in a and "you" not in a:
    print('python')
elif "shirt" not in a:
    print('shirt')
elif "need" in a:
    print('need')
else:
    print('none')

shirt

In [ ]:
#2
result = 0
i = 1
while i<= 1000:
    if i % 3 == 0:
        result += i
    i += 1
print(result)

166833

In [ ]:
#3
i = 0
while True:
    i += 1
    if i > 5:
        break
    print("*"*i)

*
**
***
****
*****

In [ ]:
#4
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#5
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

#while 반복문

# 1. 제곱 출력하기

## 요구 사항
- 사용자로부터 하나의 정수를 입력받는다.  
- 입력된 정수 `num`까지의 숫자에 대해 다음을 수행한다:  
  - `while` 문을 이용하여 1부터 `num`까지 각 수의 제곱을 출력한다.  
  - `for` 문을 이용하여 1부터 `num`까지 각 수의 제곱을 출력한다.  
- 두 반복문 모두 `1^2`, `2^2`, ..., `num^2`까지의 결과를 출력해야 한다.

In [5]:
n = int(input("정수 입력 : "))
i = 1
while(i <= n):
    print(i**2,end = " ")
    i += 1

print()

for i in range(1,n+1):
    print(i**2,end = " ")

정수 입력 : 3
1 4 9
1 4 9

# 2. 공 튀기기 시뮬레이션

## 요구 사항
- 사용자로부터 하나의 정수를 입력받는다.  
- 공의 초기 높이는 100cm이다.  
- 공은 한 번 튈 때마다 이전 높이의 3/5만큼 튄다.  
- 입력한 횟수만큼 공이 튄 후, 최종 높이를 출력한다.  
- 최종 출력 형식은 `"최종 높이: ○○"`와 같이 표시한다.

In [57]:
n = int(input("정수 입력 : "))
cnt = 0
now = 100

while(cnt < n):
    cnt += 1
    now = now / 5 * 3
print(f"최종 높이: {now}cm")

정수 입력 : 3
최종 높이: 21.6cm

# 3. 별찍기 문제
## 요구사항(4입력 예시)
- 패턴 1: 정방향 삼각형
- 패턴 2: 오른쪽 정렬 정방향 삼각형
- 패턴 3: 역삼각형
- 패턴 4: 오른쪽 정렬 역삼각형
- 패턴 5: 피라미드

In [22]:
#1
i = 1
while(i < 5):
    print(i*"*")
    i+=1

*
**
***
****

In [23]:
#2
i = 1
while(i < 5):
    print(" "*(4-i)+i*"*")
    i+=1

   *
  **
 ***
****

In [20]:
#3
i = 0
while(i < 4):
    print((4-i)*"*")
    i+=1

****
***
**
*

In [26]:
#4
i = 1
while(i < 5):
    print((4-i)*" "+ "*"*(2*i-1))
    i += 1

   *
  ***
 *****
*******

# 4. 커피 자판기 시뮬레이션

## 요구 사항
- 사용자에게 커피 개수를 입력받는다.
- 사용자가 돈을 넣으면 다음 조건에 따라 처리한다:
  - 커피 값은 300원이다.
  - 300원을 넣으면 "커피를 줍니다."를 출력하고 커피를 1개 줄인다.  
  - 300원보다 많이 넣으면 "거스름돈 ○○원을 주고 커피를 줍니다."를 출력하고 커피를 1개 줄인다.  
  - 300원보다 적게 넣으면 "돈을 다시 돌려주고 커피를 주지 않습니다."를 출력하고, 남은 커피 수를 출력한다.  
- 커피가 0개가 되면 "커피가 다 떨어졌습니다. 판매를 중지합니다."를 출력하고 반복을 종료한다.

In [28]:
n = int(input("커피 개수를 입력하세요 : "))

while(n > 0):
    money = int(input("넣은 돈 : "))
    if money == 300:
        print('커피를 줍니다.')
        n -= 1
    elif money > 300:
        print(f"거스름돈 {money - 300}원을 주고 커피를 줍니다.")
        n -= 1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print(f"남은 커피수 : {n}개")

print("커피가 다 떨어졌습니다. 판매를 중지합니다.")

커피 개수를 입력하세요 : 5
넣은 돈 : 300
커피를 줍니다.
넣은 돈 : 300
커피를 줍니다.
넣은 돈 : 300
커피를 줍니다.
넣은 돈 : 301
거스름돈 1원을 주고 커피를 줍니다.
넣은 돈 : 299
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피수 : 1개
넣은 돈 : 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

#for반복문

# 1. 문자열 내 알파벳 빈도수 출력

## 요구 사항
- 사용자로부터 문자열을 입력받는다.  
- 입력된 문자열에서 알파벳(a~z, A~Z)의 빈도수를 출력한다.  
- 대소문자는 구분하지 않는다.  
- 알파벳이 아닌 문자는 무시한다.  
- 알파벳은 오름차순으로 정렬하여 출력한다.

### 예시 입력
Hello, Python!

### 예시 출력
- e: 1
- h: 2
- l: 2
- n: 1
- o: 2
- p: 1
- t: 1
- y: 1

In [58]:
text = input("문자 입력 : ")
dic = {}

for i in text:
    if i not in dic and i.isalpha() == True:
        dic[i] = 1
    elif i in dic and i.isalpha() == True:
        dic[i] += 1

dic = sorted(dic.items())

for i,j in dic:
    print(i + ": " +str(j))

문자 입력 : oooopppqwe
e: 1
o: 4
p: 3
q: 1
w: 1

# 2. 계단식 숫자 출력

## 요구 사항
- 사용자로부터 정수 n을 입력받는다.  
- `for` 반복문을 이용해 다음과 같은 숫자 계단을 출력한다.  
- 각 줄에는 1부터 해당 줄 번호까지의 숫자를 공백과 함께 출력한다. 단, 마지막에는 공백이 있어선 안된다.
- 줄 수는 입력한 정수만큼 출력한다.

### 예시 출력 (입력: 5)
- 1
- 1 2
- 1 2 3
- 1 2 3 4
- 1 2 3 4 5

In [43]:
n = int(input())
arr = ""
for i in range(1, n+1):
    if i != n:
        arr += str(i) + " "
    else:
        arr += str(i)
    print(arr)

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 3. 1부터 500까지 3과 5의 공배수 출력

## 요구 사항
- 1부터 500까지 숫자 중에서 **3과 5의 공배수**만 출력한다.  
- 출력 결과는 한 줄에 5개씩 출력되도록 한다.  
- 줄바꿈은 5개를 출력할 때마다 적용한다.  
- 각 숫자는 가독성을 위해 일정한 간격으로 정렬한다.

### 예시 출력
15 30 45 60 75

90 ...

In [50]:
cnt = 0
for i in range(1,501):
    if cnt != 5 and i % 5 == 0 and i % 3 == 0:
        print(i, end = " ")
        cnt += 1
    elif cnt == 5 and i % 5 == 0 and i % 3 == 0:
        print(i)
        cnt = 0

15 30 45 60 75 90
105 120 135 150 165 180
195 210 225 240 255 270
285 300 315 330 345 360
375 390 405 420 435 450
465 480 495

# 4. 구구단 2단부터 9단까지 출력하기

## 요구 사항
- `for` 반복문을 중첩 사용하여 **2단부터 9단까지**의 구구단을 출력한다.  
- 각 단은 `단 제목`을 먼저 출력한 후, 그 단의 곱셈 결과를 1부터 9까지 출력한다.  
- 출력 형식은 `2 x 1 = 2`, `3 x 2 = 6`과 같은 형태로 출력한다.

In [44]:
for i in range(2,10):
    print(f'{i}단')
    for j in range(1,10):
        print(f"{i} x {j} = {i*j}")

2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#달팽이

In [134]:
n = int(input())

arr = [[0 for j in range(n)] for i in range(n)]

# n홀수

if n % 2 == 1:

    x = (n+1)//2 -1 # 중앙값
    y = (n+1)//2 -1

    # ㄱ자
    i = 1
    k = 1
    arr[x][y] = i
    i += 1

    while (k < n):
        # ㄱ자 1
        for t in range(1,k+1):
            arr[x-1][y] = i
            i += 1
            x = x - 1
            y = y

        # ㄱ자 2
        for t in range(1,k+1):
            arr[x][y-1] = i
            i += 1
            x = x
            y = y - 1

        k += 1

        # ㄴ자 1
        for t in range(1,k+1):
            arr[x+1][y] = i
            i += 1
            x = x + 1
            y = y

        # ㄴ자 2
        for t in range(1,k+1):
            arr[x][y+1] = i
            i += 1
            x = x
            y = y + 1

        k += 1

    #나머지
    for t in range(1,(n//2)*2+1):
        arr[x-1][y] = i
        i += 1
        x = x-1
        y = y

    for i in  arr:
        print(i)


# 짝수

else:

    x = (n)//2 # 중앙값
    y = (n)//2

    # ㄱ자
    i = 1
    k = 1
    arr[x][y] = i
    i += 1

    while (k < n):
        # ㄱ자 1
        for t in range(1,k+1):
            arr[x-1][y] = i
            i += 1
            x = x - 1
            y = y

        # ㄱ자 2
        for t in range(1,k+1):
            arr[x][y-1] = i
            i += 1
            x = x
            y = y - 1

        k += 1
        if k == n:
            break

        # ㄴ자 1
        for t in range(1,k+1):
            arr[x+1][y] = i
            i += 1
            x = x + 1
            y = y

        # ㄴ자 2
        for t in range(1,k+1):
            arr[x][y+1] = i
            i += 1
            x = x
            y = y + 1

        k += 1


    #나머지
    for t in range(1,2*(n//2)):
        arr[x+1][y] = i
        i += 1
        x = x + 1
        y = y

    for i in  arr:
        print(i)

7
[31, 30, 29, 28, 27, 26, 49]
[32, 13, 12, 11, 10, 25, 48]
[33, 14, 3, 2, 9, 24, 47]
[34, 15, 4, 1, 8, 23, 46]
[35, 16, 5, 6, 7, 22, 45]
[36, 17, 18, 19, 20, 21, 44]
[37, 38, 39, 40, 41, 42, 43]