#반복문
- 특정 코드를 여러 번 실행

##while문
- 주어진 조건이 참인 동안 코드를 반복 실행


```
while 조건문:
    수행할_문장1
    수행할_문장2
    수행할_문장3
    ...
```

In [ ]:
num = 0
while(num < 3):
    print(num)
    num += 1

0
1
2

##break문
- 반복문을 반복하다 break문을 만나면 반복문을 나가게 된다.


```
while 조건문:
    수행할_문장1
    수행할_문장2
    수행할_문장3
    break
    수행할_문장4
    수행할_문장5
    ...
```
위와 같이 반복문이 돼있으면 3번까지 수행하고 멈추게 된다.

In [ ]:
num = 1
while(1):
    print(num)
    if num == 5:
        break
    num += 1

1
2
3
4
5

##continue문
-while문에서 continue를 만나면 이번 루프를 바로 끝내고 다음 루프로 간다.

In [ ]:
a = 0
while(1):
    a += 1
    if a % 2 == 1:
        continue
    print(a)
    if a == 10:
        break

2
4
6
8
10

In [ ]:
#예제
n = int(input("입력 : "))
result = 0

while(n > 0):
    if n % 3 == 0:
        result += n
    n -= 1

print(result)

입력 : 10
18

In [ ]:
#예제
x = int(input())
n = 0
while(n <= x):
    n += 1
    if n > 100:
        break
    if n % 2 == 0:
        continue
    print(n)

100
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

##for문
- while문과 비슷하지만 정해진 범위나 배열을 반복한다.


```
for 변수 in 리스트(또는 튜플, 문자열):
    수행할_문장1
    수행할_문장2
    ...
```

In [ ]:
arr = [1,3,5,6,7]

for i in arr:
    print(i)

1
3
5
6
7

In [ ]:
#예제
students = [("철수",85),("영희",92),("민수",78)]

for i in students:
    print("이름 : " + i[0] + " 점수 : " + str(i[1]))

이름 : 철수 점수 : 85
이름 : 영희 점수 : 92
이름 : 민수 점수 : 78

In [ ]:
#예제
for i in range(1,10):
    print("9 X "+ str(i) + ' = ' + str(9*i))

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
#예제
scores = [15,50,46,86,94]

for num in range(0,len(scores)):
    if (num + 1) % 2 == 0:
        continue
    if num + 1 == 5:
        break
    if scores[num] >= 50:
        print(str(num+1)+'번 학생 합격!')
    else:
        print(str(num+1)+'번 학생 불합격!')

1번 학생 불합격!
3번 학생 불합격!

In [ ]:
#예제
scores = [15,50,46,86,94]
sc = 0
cnt = 0

for num in range(0,len(scores)):
    if (num + 1) % 2 == 0:
        continue
    if scores[num] >= 60:
        print(str(num+1)+'번 학생 합격!')
    else:
        sc += scores[num]
        cnt += 1
        print(str(num+1)+'번 학생 불합격!')

print(f'불학격 받은 학생의 평균 점수는 : {sc/cnt}점입니다.')

1번 학생 불합격!
3번 학생 불합격!
5번 학생 합격!
불학격 받은 학생의 평균 점수는 : 30.5점입니다.

In [ ]:
#2중 for문
for i in range(3):
    for j in range(5):
        print("*",end="")
    print()

#5번 출력하는것을 3번 반복

*****
*****
*****