## 문제 1

두 숫자를 입력받아 더한 결과를 반환하는 함수를 작성한다.

- 함수 이름: `add_numbers`
- 매개변수: 두 개의 숫자
- 반환값: 두 숫자의 합

### 예시
입력: 3, 5  
출력: 8

### 추가 : 사칙연산 모두 구현

In [ ]:
def add_numbers(n1,n2):
    return (n1 + n2)

def subtract_numbers(n1,n2):
    return (n1 - n2)

def multiply_numbers(n1,n2):
    return (n1 * n2)

def divide_numbers(n1,n2):
    return (n1 / n2)

n1, n2 = map(int,(input("입력 : ").split()))

print(f"더하기 결과 : {add_numbers(n1,n2)}")
print(f"빼기 결과 : {subtract_numbers(n1,n2)}")
print(f"곱하기 결과 : {multiply_numbers(n1,n2)}")
print(f"나누기 결과 : {divide_numbers(n1,n2)}")

입력 : 1 3
더하기 결과 : 4
빼기 결과 : -2
곱하기 결과 : 3
나누기 결과 : 0.3333333333333333

## 문제 2

정수를 입력받아 짝수인지 홀수인지 판별하는 함수를 작성한다.

- 함수 이름: `check_even_odd`
- 매개변수: 정수 하나
- 반환값: 문자열 "짝수입니다." 또는 "홀수입니다."

### 예시
입력: 4  
출력: 짝수입니다.

입력: 7  
출력: 홀수입니다.

### 추가 : 짝수 / 홀수 구분하여 리스트에 저장

In [ ]:
def check_even_odd(n):
    if n % 2 == 0:
        print("짝수입니다.")
    else:
        print("홀수입니다")

def check_even_odd_test(args):
    even_list = []
    odd_list = []
    for arg in args:
        if arg % 2 == 0:
            even_list.append(arg)
        else:
            odd_list.append(arg)
    return even_list, odd_list

n = int(input("입력 : "))
check_even_odd(n)

e, o = check_even_odd_test([1,2,3,4,5])
print(e)
print(o)

[2, 4]
[1, 3, 5]

## 문제 3

주어진 세 숫자 중 가장 큰 수를 반환하는 함수를 작성한다.

- 함수 이름: `max_of_three`
- 매개변수: 세 개의 숫자
- 반환값: 가장 큰 숫자

### 예시
입력: 5, 8, 2  
출력: 8

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [ ]:
def max_of_three(n1,n2,n3):
    max_val = n1
    if n2 > max_val:
        max_val = n2
    if n3 > max_val:
        max_val = n3

    return max_val

a,b,c = map(int,input("입력 : ").split())
print(f"출력 : {max_of_three(a,b,c)}")

입력 : 5, 8, 2
출력 : 8

## 문제 4

문자열을 입력받아 그 문자열의 길이를 반환하는 함수를 작성한다.

- 함수 이름: `string_length`
- 매개변수: 문자열 하나
- 반환값: 문자열의 길이 (정수형)

### 예시
입력: "hello"  
출력: 5

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [ ]:
def string_length(text):
    cnt = 0
    for i in text:
        cnt += 1
    return cnt

t = input("입력 : ")
print("출력 :",string_length(t))

입력 : hello
출력 :  5

## 문제 5

여러 개의 과목 점수를 입력받아 평균을 반환하는 함수를 작성한다.

- 함수 이름: `average_score`
- 매개변수: 여러 개의 점수(*args 사용)
- 반환값: 평균 점수

### 예시
입력: 80, 90, 100  
출력: 90.0

In [ ]:
def average_score(*args):
    cnt = 0
    result = 0
    for arg in args:
        cnt += 1
        result += arg
    return result/cnt

a,b,c = map(int,input().split())
print("출력 :",average_score(a,b,c))

10 20 30
출력 : 20.0

## 문제 6

문자열 리스트를 입력받아, 각 문자열의 길이를 담은 리스트를 반환하는 함수를 작성한다.

- 함수 이름: `lengths_of_strings`
- 매개변수: 문자열 리스트 하나
- 반환값: 정수 리스트

### 예시
입력: ["apple", "banana", "kiwi"]  
출력: [5, 6, 4]

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [ ]:
def lengths_of_strings(*arr):
    result = []
    for i in arr:
        cnt = 0
        for j in i:
            cnt += 1
        result.append(cnt)
    return result

a, b, c = input("입력 : ").split()
print(lengths_of_strings(a,b,c))

입력 : asdf a s
[4, 1, 1]

## 문제 7

문자열을 입력받아, 대문자는 소문자로, 소문자는 대문자로 변환하여 반환하는 함수를 작성한다.

- 함수 이름: `swap_case`
- 매개변수: 문자열 하나
- 반환값: 변환된 문자열

### 예시
입력: "HeLLo"  
출력: "hEllO"

In [ ]:
def swap_case(text):
    result = ""
    for t in text:
        if t.isupper():
            result += t.lower()
        else:
            result += t.upper()
    return result

text = input("입력 : ")
print("결과 :",swap_case(text))

입력 : HeLLo
결과 : hEllO

## 문제 8

숫자 리스트를 입력받아, 0보다 큰 숫자만 골라서 새로운 리스트로 반환하는 함수를 작성한다.

- 함수 이름: `filter_positive_numbers`
- 매개변수: 숫자 리스트 하나
- 반환값: 양수만 담긴 리스트

### 예시
입력: [-2, 0, 5, 9, -1]  
출력: [5, 9]

In [ ]:
def filter_positive_numbers(arr):
    result = []
    for i in arr:
        if i > 0:
            result.append(i)
    return result

arr = list(map(int,input().split()))
print("출력 :",filter_positive_numbers(arr))

1 3 5
출력 : [1, 3, 5]

## 문제 9

문자열을 입력받아, 단어별로 분리한 리스트를 반환하는 함수를 작성한다.

- 함수 이름: `split_into_words`
- 매개변수: 문자열 하나
- 반환값: 단어 리스트

### 예시
입력: "Python is fun"  
출력: ["Python", "is", "fun"]

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [ ]:
def split_into_words(text):
    arr = []
    temp = ""

    for i in text:
        if i == " ":
            arr.append(temp)
            temp = ""
        else:
            temp += i
    arr.append(temp)

    return arr

text = input("입력 : ")
print("출력 : ",split_into_words(text))

입력 : python is fun
출력 :  ['python', 'is', 'fun']

## 문제 10

문자열과 부분 문자열을 입력받아, 부분 문자열이 몇 번 등장하는지 세는 함수를 작성한다.

- 함수 이름: `count_substring`
- 매개변수: 문자열 하나, 부분 문자열 하나
- 반환값: 등장 횟수 (정수형)

### 예시
입력: ("banana", "na")  
출력: 2

In [ ]:
def count_substring(text, part):
    cnt = 0

    for i in range(0,len(text) - len(part)+1):
        if text[i:i+len(part)] == part:
            cnt += 1

    return cnt

text, t = input("입력 : ").split()
print("출력 :",count_substring(text,t))

입력 : oopeeer e
출력 : 3

## 문제 11

정수 리스트를 입력받아, 리스트 안에서 중복된 숫자만 모아 리스트로 반환하는 함수를 작성한다.

- 함수 이름: `find_duplicates`
- 매개변수: 숫자 리스트 하나
- 반환값: 중복 숫자 리스트

### 예시
입력: [1, 2, 3, 2, 4, 1]  
출력: [1, 2]

In [ ]:
def find_duplicates(arr):
    dict = {}
    result = []
    for i in arr:
        if i not in dict:
            dict[i] = 1
        else:
            result.append(i)

    result.sort()

    return result

arr = list(map(int,input("입력 : ").split()))
print("출력 :",find_duplicates(arr))

입력 : 1 2 3 2 4 1
출력 : [1, 2]

## 문제 12

두 개의 문자열을 입력받아, 두 문자열이 아나그램인지 판별하는 함수를 작성한다.

아나그램: 같은 알파벳을 사용해서 순서만 바꾼 단어
- 함수 이름: `is_anagram`
- 매개변수: 문자열 두 개
- 반환값: True 또는 False

### 예시
입력: ("listen", "silent")  
출력: True

입력: ("hello", "world")  
출력: False

In [ ]:
def is_anagram(t1,t2):
    t1_dict = {}
    t2_dict = {}

    for i in t1:
        if i not in t1_dict:
            t1_dict[i] = 1
        else:
            t1_dict[i] += 1

    for i in t2:
        if i not in t2_dict:
            t2_dict[i] = 1
        else:
            t2_dict[i] += 1

    if t1_dict == t2_dict:
        return True
    return False

text1, text2 = input("입력 : ").split()
print("출력 :",is_anagram(text1,text2))

입력 : aaeds aaeda
출력 : False

In [24]:
#로또 문제
import random as r

n = int(input("몇 세트 생성할까요? "))

for i in range(1,n+1):
    print(f"==========================={i}세트========================\n")
    number_box = [x for x in range(1,46)]
    result_box = []
    for _ in range(6):
        now_number = r.choice(number_box)
        result_box.append(now_number)
        number_box.remove(now_number)
        result_box.sort()
        print("현재 뽑힌 번호 :",result_box)
    bonus_number = r.choice(number_box)
    print(f"현재 뽑힌 번호 : {result_box} 보너스 번호 : {bonus_number}\n")
    result_box.append(bonus_number)
    print('=======================================================')
    print("최종 번호 :",result_box)
    print('=======================================================\n')

몇 세트 생성할까요? 3
===========================1세트========================

현재 뽑힌 번호 : [6]
현재 뽑힌 번호 : [4, 6]
현재 뽑힌 번호 : [4, 6, 10]
현재 뽑힌 번호 : [4, 6, 10, 13]
현재 뽑힌 번호 : [4, 6, 10, 13, 45]
현재 뽑힌 번호 : [4, 6, 10, 13, 15, 45]
현재 뽑힌 번호 : [4, 6, 10, 13, 15, 45] 보너스 번호 : 33

=======================================================
최종 번호 : [4, 6, 10, 13, 15, 45, 33]
=======================================================

===========================2세트========================

현재 뽑힌 번호 : [39]
현재 뽑힌 번호 : [5, 39]
현재 뽑힌 번호 : [5, 26, 39]
현재 뽑힌 번호 : [5, 26, 27, 39]
현재 뽑힌 번호 : [5, 26, 27, 39, 43]
현재 뽑힌 번호 : [5, 26, 27, 33, 39, 43]
현재 뽑힌 번호 : [5, 26, 27, 33, 39, 43] 보너스 번호 : 38

=======================================================
최종 번호 : [5, 26, 27, 33, 39, 43, 38]
=======================================================

===========================3세트========================

현재 뽑힌 번호 : [17]
현재 뽑힌 번호 : [17, 37]
현재 뽑힌 번호 : [1, 17, 37]
현재 뽑힌 번호 : [1, 9, 17, 37]
현재 뽑힌 번호 : [1, 9, 17, 37, 39]
현재 뽑힌 번호 : [1, 9, 17, 21, 37, 39]
현재 뽑힌 번호 : [1, 9, 17, 21, 37, 39] 보너스 번호 : 26

=======================================================
최종 번호 : [1, 9, 17, 21, 37, 39, 26]
=======================================================